*{
    margin: 0;
    padding: 0;
}
.books-container{
    text-align: center;
    width: 40%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.book-card{
    padding: 20px;
    background: rgb(229, 229, 229);
    border-radius: 25px;
    width: 25%;
    margin: 10px;
}
.book-card p{
    margin: 5px 0;
    font-size: 20px;
}
.book-card button{
    width: 90%;
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}
#btn-remove{
    background: rgb(186, 10, 10);
    color: white;
}
#btn-status{
    background: yellow;
    color: black;
}
.book-form{
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin: 10% auto;
    background: skyblue;
}
.book-form form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.book-form label{
    font-size: 24px;
}
.book-form form input{
    width: 90%;
    margin: 10px 5%;
    font-size: 24px;
    padding: 10px;
    outline: none;
    border:none;
    border-radius: 10px;
    color: grey;
}
.book-form form div{
    display: flex;
    align-items: center;
}
#input-read{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin: 0 10px;
}
#input-submit{
    background: rgb(79, 79, 245);
    color: white;
    cursor: pointer;
}